/* .background {
background: url('../styles/static/ocs_cropped_2.jpg')no-repeat center center;
background-size: cover;
} */

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  z-index: 0;
}
.float-right {
  align-self: right;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-bottom: 5em;
  margin-left: -10em;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search {
  margin-top: 10em;
  padding: 2em;
}
.info {
  margin-top: 40em;
  position: absolute;
  z-index: 1;
}
.float-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: left;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 50em;
  margin-left: -10em;
}
