.navbar-custom {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
}

.navbar {
  background: (255, 255, 255, 0.6);
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.app-name {
  justify-content: flex-start;
}

.spacer {
  flex-grow: 2;
}

.user-reg {
  justify-content: flex-end;
}
