body {
  background-image: url ('../styles/static/background.png');
  background-size: auto;
  background-position: inherit;
  z-index: 2;
}
.container {
  margin-top: 2em;
  display: inline-block;
}
