.body {
  margin: 3em;
  display: flex;
}

h1 {
  color: #343a3f;
}
.doc-image {
  max-height: 22em;
  max-width: auto;
}

.body-left {
  margin-top: 1em;
  margin-bottom: 1em;
}
.button-bank {
  padding-top: 0.5em;
}
.btn-detail {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  background-color: #ff9d84 !important;
}
.btn-detail:hover {
  text-shadow: 1px 0 0#202326 !important;
  color: #343a3f;
}
.btn-primary {
  border-color: #343a3f;
  color: #343a3f;
}
.btn-sm-1 {
  margin-right: 0.5em;
  font-size: 1.3em;
}
.btn-sm-2 {
  margin-left: 0.5em;
  font-size: 1.3em;
}
