body {
  background-image: url ('../styles/static/background.png');
  background-size: auto;
  background-position: inherit;
  z-index: 2;
}
.container {
  margin-top: 2em;
  display: inline-block;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0em;
}

.alert-link {
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

.list-inline-item .card {
  min-height: 25em;
  margin-bottom: 0.5em;
}

.alert {
  padding: 0.5rem 1.25rem;
}
.alert.alert-danger {
  white-space: nowrap;
  overflow: scroll;
  padding-top: 0.5em;

  background-color: #ff9d84 !important;
  text-align: center;
}
.card-img-top {
  max-height: 20em;
  max-width: auto;
}

.card:hover {
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .alert-link {
  text-shadow: 1px 0 0#202326;
}
.card-body {
  padding: 1em;
}
p {
  text-overflow: ellipsis;
  max-height: 3em;
}
