container {
  font-family: 'Tajawal', sans-serif;
  position: absolute;
  z-index: 1;
}

.container .flex-center {
  margin-top: -0.5em;
}

.search {
  background-color: #ff9d84;
  position: absolute;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  font-family: 'Libre Franklin', sans-serif;
}

button:hover {
  cursor: pointer;
}

button {
  margin-top: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

h1,
h4,
h6,
br {
  font-family: 'Libre Franklin', sans-serif;
}

.input-group-append {
  margin: 0;
}

.btn .btn-sm .btn-outline {
  margin-top: 0 !important;
}

.search-button:hover {
  margin-left: 2px;
}
