container {
  font-family: 'Tajawal', sans-serif;
  position: absolute;
  z-index: 1;
}

.container .flex-center {
  margin-top: -0.5em;
}

.search {
  background-color: #ff9d84;
  position: absolute;
  z-index: 3;
}

.hm-gradient .full-bg-img {
  background: -moz-linear-gradient( 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
  background: -webkit-linear-gradient( 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
  /* background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.6)),
    to(rgba(29, 210, 177, 0.6))
  ); */
  background: -o-linear-gradient( 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
  background: linear-gradient( to 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}

* {
  font-family: 'Libre Franklin', sans-serif;
}

button:hover {
  cursor: pointer;
}

button {
  margin-top: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

h1,
h4,
h6,
br {
  font-family: 'Libre Franklin', sans-serif;
}

.input-group-append {
  margin: 0;
}

.btn .btn-sm .btn-outline {
  margin-top: 0 !important;
}

.search-button:hover {
  margin-left: 2px;
}